################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Z2PPractice/.vs/Z2PPractice/v16
/Z2PPractice/Z2PPractice/bin/Debug/netcoreapp2.2
/Z2PPractice/Z2PPractice/obj
